.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    font-size: 32px;
    background-color: white;
    border: none;
    border: 1px solid black;
    margin : 10px;
    min-width: 100px;
}
button:hover{
    background-color:darkgrey;
    cursor: pointer;
}
canvas{
    max-width: 1300px;
    max-height: 1070px;

    border: 1px solid black;
}